<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入属性文件，用来配置数据库-->
    <properties resource="jdbc.properties"/>
    <settings>
        <!--下面这些配置能让mapper.xml文件运行时打印sql语句-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <!-- 别名 -->
        <!--<typeAlias type="pojo.Role" alias="role"/>-->
        <!--像下面这样写的话会出现匪夷所思的bug:com/microsoft/schemas/vml/STShadowType-->
        <!--所以必须精确到具体的类所在的包名-->
        <!--错误的写法-->
        <!--<package name="com"/>-->
        <package name="pojo"/>
        <package name="api"/>
        <package name="mapper"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/RoleMapper.xml"/>
        <mapper resource="mapper/YwclMapper.xml"/>
        <mapper resource="mapper/SchoolMapper.xml"/>
    </mappers>
</configuration>
